
<script type="text/javascript" src="{$__PUBLIC__}/js/DB.navtrade.js"></script>

<div class="trade_left">
	<div class="td_left_title">{$Lang.HTradeManage}</div>
	<ul class="td_ul_left">
		{if $tradeNav}
			{foreach item=item key=key from=$tradeNav}
				<li class="{if $item.view==$smarty.get._action}td_ul_select{/if}"><b class="td_left_c">&nbsp;</b>{$item.name}</li>
			{/foreach}
		{/if}
	</ul>
</div>

<script type="text/javascript">
<!--
var navtrade = new Tnavtrade();
navtrade.JS_LANG = {$JS_LANG};
navtrade.jsonData = {$jsonData};
//页面完全再入后初始化
$(document).ready(function(){
	navtrade.init();
});
//释放
$(window).unload(function(){
	navtrade = null;
});
//-->
</script>