body {
	font-family:"微软雅黑","Microsoft JhengHei","华文细黑","STHeiti","MingLiu";
	font-size:12px;
	/*
	background:#F5F5F5;
	color: #000;
	*/
	margin: 0;
	padding: 0;	
	color:#666666;
}
ul, li {
    list-style-type: none;
	margin:0px;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}
a{
	color: #666666;
	text-decoration: none; 
}
a:hover{ 
	color:#f37a01;
	text-decoration: none;
}
a.select{
	color:#FD8104;
	text-decoration: none;
}
a.cb{
	color: #49ACCF;
	text-decoration: none; 
}
a.cb:hover{ 
	color:#f37a01;
	text-decoration: none;
}
.word{
	word-break:break-all;
	word-wrap:break-word;
}
.red{
	color:red;
}
.c_y{
	color:#F37A01;
}
.c_b{
	color:#49ACCF;
}
.mg_left_10{
	margin-left:10px;
}
.mg_left_15{
	margin-left:15px;
}
.mg_left_20{
	margin-left:20px;
}
.mg_left_30{
	margin-left:30px;
}
.mg_left_40{
	margin-left:40px;
}
.tp_dash_line{
	border-top: 1px dashed #EBEBEB;
}
.bt_dash_line{
	border-bottom: 1px dashed #EBEBEB;
}
a.btn{
	line-height:50px;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
	background:#FD8104;
	/*
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
		    border-radius:5px;
	-webkit-box-shadow:1px 1px 1px 1px #9f9f9f;
       -moz-box-shadow:1px 1px 1px 1px #9f9f9f;
            box-shadow:1px 1px 1px 1px #9f9f9f;
    */
}
a.btn:hover{
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
	background:#f37a01;	
	/*
	-webkit-box-shadow:2px 2px 3px 1px #f37a01;
       -moz-box-shadow:2px 2px 3px 1px #f37a01;
            box-shadow:2px 2px 3px 1px #f37a01;
    */    
    /*#8fa1ff, #3757fa*/
    background-image: -moz-linear-gradient(top, #fc9025, #e47302); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc9025), color-stop(1, #e47302)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc9025', endColorstr='#e47302', GradientType='0'); /* IE*/
}
a.btn_b{
	line-height:50px;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
	background:#FD8104;
	border: 1px solid #EBEBEB;
}
a.btn_b:hover{
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
	background:#f37a01;	
    background-image: -moz-linear-gradient(top, #fc9025, #e47302); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc9025), color-stop(1, #e47302)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc9025', endColorstr='#e47302', GradientType='0'); /* IE*/
}
a.btnb_b{
	line-height:50px;
	padding:10px 20px;
	color:#000;
	text-decoration:none;
	background:#fff;
	border: 1px solid #EBEBEB;
}
a.btnb_b:hover{
	padding:10px 20px;
	color:#000;
	text-decoration:none;
	background:#fff;	
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f2f2f2)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType='0'); /* IE*/
}
a.btn_small{
	line-height:50px;
	padding:3px 20px;
	color:#fff;
	text-decoration:none;
	background:#FD8104;
}
a.btn_small:hover{
	padding:3px 20px;
	color:#fff;
	text-decoration:none;
	background:#f37a01;	
    background-image: -moz-linear-gradient(top, #fc9025, #e47302); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc9025), color-stop(1, #e47302)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc9025', endColorstr='#e47302', GradientType='0'); /* IE*/
	
}
a.btn_small input{
	width:10px;
}
.input{
	height:26px;
	margin-top:5px;
	padding:0 5px;
	font-size:12px;
	border: 1px solid #BEBEBE;
	/*
	color:#3DAACF;
	color: #ABABAB;
	text-shadow: 0 1px 1px rgba(0, 0, 0.5, 0.5);
    -webkit-border-radius:5px 5px 5px 5px;
	   -moz-border-radius:5px 5px 5px 5px;
		    border-radius:5px 5px 5px 5px;*/
}
.input:hover{
    border: 1px solid #49ACCF; 
    /*
    text-shadow: 0 1px 1px;
    
	-webkit-box-shadow:0px 1px 2px #9f9f9f;
       -moz-box-shadow:0px 1px 2px #9f9f9f;
            box-shadow:0px 1px 2px #9f9f9f;*/
	-webkit-box-shadow: 0 2px 10px #CCCCCC;
       -moz-box-shadow: 0 2px 10px #CCCCCC;
            box-shadow: 0 2px 10px #CCCCCC;
}
.note{
	width:80%;
    background: none repeat scroll 0 0 #FEFADA;
    border: 1px solid #FEE398;
	color:#f37a01;
	margin:10px 100px;
}
.note_500{
	width:80%;
    background: none repeat scroll 0 0 #FEFADA;
    border: 1px solid #FEE398;
	color:#f37a01;
	margin:10px 50px;
}
.note .noteword,.note_500 .noteword{
	color:#f37a01;
    margin:0 10px;
}
/*=====top=====*/
#top{
	width:100%;
    background-color: #F5F6F6;
    border-bottom: 1px solid #EBEBEB;
    height: 30px;
}
#top .top_box{
    color: #666666;
    line-height: 25px;
    margin: 0 auto;
    padding-top: 5px;
    width: 960px;
}
#top .top_box .top_left{
	float:left;
}
#top .top_box .top_right{
	float:right;
}
#top .top_box .top_login{
	float:left;
	margin-left: 15px;
}
#top .top_box a{
	color: #666666;
	text-decoration:none;
}
#top .top_box a:hover{
	color:#FD8104;
	text-decoration:none;
}
#top .top_box .top_login_first{
	float:left;
}
/*=====logo=====*/
#logo{
	width:100%;
	height:100px;
}
#logo .logo_box{
	width: 960px;
	height: 100px;
	margin: 15px auto;
}
#logo .logo_box .logo_box_href{
	width:300px;
}
#logo .logo_box a img {
    display: block;
    height: 80px;
	margin-left:-6px;
}
/*=====top_nav=====*/
#top_nav{
	width:100%;
	height:40px;
	background-image: -moz-linear-gradient(top, #fc9025, #e47302); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc9025), color-stop(1, #e47302)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc9025', endColorstr='#e47302', GradientType='0'); /* IE*/
	background:url(../images/header_bg.png) 0 0 repeat ;
}
#top_nav .nav_box{
	width: 960px;
	margin: 0px auto;
}
#top_nav .nav_box .nav_row{
	float:left;
	height: 30px;
	line-height:30px;
	font-size: 14px;
	text-align:center;
	margin-top:5px;
	padding:0 20px 0px;
	color: #fff;
}
#top_nav .nav_box .nav_row:hover{
	cursor:pointer;
	color:#f37a01;
	background:#fff;
	-webkit-border-radius:5px 5px;
	   -moz-border-radius:5px 5px;
		    border-radius:5px 5px;
}
#top_nav .nav_box .nav_row_select{
	color:#f37a01;
	background:#fff;
	-webkit-border-radius:5px 5px;
	   -moz-border-radius:5px 5px;
		    border-radius:5px 5px;
}
/*
#top_nav .nav_box .nav_row a{
	color: #fff;
	text-decoration:none;
    display: block;
	padding-bottom:5px;
}
#top_nav .nav_box .nav_row a:hover{
	color:#f37a01;
	text-decoration:none; 
	height:30px;
	
}
*/
/*=====top_banner=====*/
#top_banner{
	width:100%;	
}
#top_banner .banner_box{
	width:960px;
	margin:0 auto;
}
#top_banner .banner_box img{
	width:960px;
}
/*=====信息提示页面=====*/
.msg_box{
	width:550px;
	min-height:200px;
	margin:100px auto;
	padding:10px;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	background:#fff;
	border: 1px solid #EBEBEB;
}
.msg_box .msg_pic{
	width:80px;
	height:80px;
	position:absolute;
	margin-top:-50px;
	margin-left:40px;
	z-index: 1001;
}
.msg_box .msg_pic img{
	width:80px;
	height:80px;
	-moz-border-radius:5px;
	-moz-box-shadow:2px 2px 2px 1px #9f9f9f;
	border-radius:5px;
	box-shadow:2px 2px 2px 1px #9f9f9f;
	-webkit-border-radius:5px;
	-webkit-box-shadow:2px 2px 2px 1px #9f9f9f;
}
.msg_box .msg_rmd{
	position:absolute;
	margin-top:30px;
	margin-left:40px;
	color:red;
}
.msg_box .msg_cont{
	padding:80px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	text-align: center;
    vertical-align: middle;
}
.msg_box .msg_app{
	float:right;
	position:relation;
	font-size:13px;
	margin-top:-25px;
}
.msg_box .msg_app a{
	color:#f37a01;
	text-decoration:none;
}
.msg_box .msg_app a:hover{
	text-decoration:underline;
}
/*=====login_box=====*/
#login_info{
	width:220px;
	float:left;
	margin-left: 15px;
}
#login_info #login_name{
	color:#666666;
	float:right;
	padding:0 10px;
	margin-right:-2px;
	line-height:24px;
	height:26px;
	text-align:right;
	font-size:12px;
	position:relation;
	z-index:1500;
}
#login_info #login_name:hover,#login_info .selected{
	border-top:1px solid #EBEBEB;
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	border-radius:0 0 5px 5px
	color:#3A6CA4;
	background:#fff;
	border-radius:5px 5px 0 0;
}
#login_info #loginOut{
	position:absolute;
	color:#3A6CA4;
	background:#fff;
	width:220px;
	top:31px;
	padding:15px 0;
	z-index:1100;
	border-bottom:1px solid #EBEBEB;
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	border-radius:0 0 5px 5px;
/*
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);*/
}
#login_info .login_left{
	float:left;
	width:66px;
	padding:10px 20px 10px 23px;
}
#login_info .login_left img{
	width:64px;
	height:64px;
	padding:2px;
	background-color: #F0F0F0;
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px #CCCCCC;
}
#login_info #loginOut ul{
	border-left:1px solid #EBEBEB;
	float:right;
	width:100px;
	min-height:95px;
}
#login_info #loginOut ul li{
	float:right;
	width:100px;
	text-align:right;
	line-height:24px;
}
#login_info #loginOut ul li a{
	cursor:pointer;	
	font-size:12px;
	color:#666666;
	padding-right:10px;
	word-break:break-all;
	word-wrap:break-word;
}
#login_info #loginOut ul li a:hover{
	cursor:pointer;
	color:#FD8104;
	text-decoration:none;
}
/*=====footer=====*/
.footer{
	width:100%;
	float:left;
	margin-top:30px;
	border-top: 1px solid #EBEBEB;
}
.footer .footer_box{
	width:960px;
	height:80px;
	margin:0 auto;
}
.footer .footer_box .footer_left{
	/*float:left;*/
	text-align:center;
}
.footer .footer_box .footer_right{
	float:right;
}
.footer .footer_box .copyright{
	margin-top:15px;
}
.footer .footer_box .menu{
	white-space:nowrap; 
	margin-top:15px;
}
.footer .footer_box .menu a{
	color:#666666;
	text-decoration:none;
}
.footer .footer_box .menu a:hover{
	color:#FD8104;
	text-decoration:none;
}
.footer .footer_box .menu span{
	float:left;
}
/*=====返回底部样式=====*/
.back-to-top-box{
	width:960px;
	margin:0 auto;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
}
p#back-to-top{
      position:fixed;
      bottom:100px;
      left:60px;
	  font-size:12px;
}
p#back-to-top a{
      text-align:center;
      text-decoration:none;
      color:#979797;
      display:block;

      /*ʹ��CSS3�е�transition���Ը���ת�����е�������ӽ���Ч��

      -moz-transition:color 1s;
      -webkit-transition:color 1s;
      -o-transition:color 1s;*/
}
p#back-to-top a:hover{
      color:#979797;
	  
}
p#back-to-top a span{
      background:#979797 url(../images/arrow-up.png) no-repeat center center;
      border-radius:6px;
      display:block;
      height:60px;
      width:60px;
      margin-bottom:5px;

      /*ʹ��CSS3�е�transition���Ը�<span>��ǩ������ɫ��ӽ���Ч��

      -moz-transition:background 1s;
      -webkit-transition:background 1s;
      -o-transition:background 1s;*/
}
#back-to-top a:hover span{
      background:#979797 url(../images/arrow-up.png) no-repeat center center;
}
/*=====语言选择样式=====*/
#LangBar{
	height:30px;
	padding:2px;
	background-color:#333333;
	border-radius: 5px;
	border: 1px solid #cccccc;
}
#LangBar li{
	list-style:none inside none;
	float:left;
	margin-left:5px;
	margin-right:5px;
	vertical-align:middle;
}
#LangBar li a{
	font-family:"Arial Rounded MT Bold","Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑","STHeiti","MingLiu";
	vertical-align:middle;
}
/*=====分页=====*/
.showpage{
	float:left;
	width:100%;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
	margin-top:10px;
}
.showpage .nowBar{
	margin-left:14px;
}
.showpage .prePage{
	padding:5px 10px;
}
.showpage select{
	margin-left:10px;
}
.showpage a{
	padding-left:10px;
	color:#4c4c4c;
	text-decoration:none;
}
.showpage a:hover{
	padding-left:10px;
	color:#f37a01;
	text-decoration:none;
}
.showpage .current{
	padding-left:10px;
	color:#f37a01;
}
/*=====pay_icon=====*/
.alipay_icon{
    background:url(../images/pay.png) 0px 0px no-repeat;
    width:62px;
    height:31px;
}
.paypal_icon{
    background:url(../images/pay.png) 0px -31px no-repeat;
    width:62px;
    height:31px;
}
.b_r{
	border: 1px solid #EBEBEB;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
		    border-radius:5px;
}
/*=====flo_top_bar=====*/
.flo_top_bar{
	width:960px;
	margin:20px auto;	
}
/*=====containers=====*/
.containers_box{
	width:100%;
}
.containers_box_construct{
	height:400px;
}
/*=====index_box=====*/
.v_line_200_l{
	float:left;
	width:10px;
	height:200px;
	background:url(../images/v_line_200.png) no-repeat center center;
}
.v_line_150_l{
	float:left;
	width:10px;
	height:150px;
	background:url(../images/v_line_200.png) no-repeat 0px -25px;
}
.v_line_200_r{
	float:right;
	width:10px;
	height:200px;
	background:url(../images/v_line_200.png) no-repeat center center;
}
.v_line_400_l{
	float:left;
	width:400px;
	height:10px;
	background:url(../images/l_line_400.png) no-repeat center center;
}
.index_box{
	width:960px;
	margin:30px auto;
}
/*
.index_box .id_up_box{
	width:100%;
	height:200px;
	background-color: #f7f7f7;
    border: 1px solid #EBEBEB;
}
.index_box .id_up_box .id_up_left{
	float:left;
	width:400px;
	height:200px;
}
.id_up_left_up{
	margin:30px 0 0 40px;
}
.id_up_left_up img{
	float:left;
	width:64px;
	height:64px;
	padding:2px;
    border: 2px solid #EBEBEB;
}
.id_up_left_up .id_up_left_title{
	width:250px;
	float:left;
	margin-left:20px;
	margin-top:1px;
}
.id_up_left_exp{
	width:120px;
	float:left;
	margin-left:20px;
	margin-top:10px;
	padding-left: 34px;
}
.font_30{
	font-size:30px;
}
.r_n{
	background:url(../images/dbicon.png) no-repeat 0 -17px;
}
.r_n_c{
	background:url(../images/dbicon.png) no-repeat 0 0;
}
.c_m{
	background:url(../images/dbicon.png) no-repeat 0 -89px;
}
.c_m_c{
	background:url(../images/dbicon.png) no-repeat 0 -71px;
}
.c_p{
	background:url(../images/dbicon.png) no-repeat 0 -35px;
}
.c_p_c{
	background:url(../images/dbicon.png) no-repeat 0 -53px;
}
.id_up_left_down{
	float:left;
	width:400px;
	margin-top:40px;
}
.id_up_left_down_row{
	float:left;
	height:18px;
	padding-left: 30px;
}
.index_box .id_up_box .id_up_middle{
	float:right;
	width:280px;
	height:200px;
}
.id_mi_title{
	font-size:20px;
	margin-top:30px;
	margin-left:30px;
}
.id_mi_balance{
	font-size:20px;
	margin-top:15px;
	margin-left:30px;
	color:#f37a01;
}
.id_mi_btn{
	margin-left:30px;
	margin-top:15px;
}
.index_box .id_up_box .id_up_right{
	float:right;
	width:280px;
	height:200px;
}
.id_trade_box{
	width:960px;
	margin:30px auto;	
}
.id_td_left{
	float:left;
	width:460px;
}
.id_td_right{
	float:right;
	width:460px;
}
.id_td_title_box{
	width:460px;
	height:40px;
	background-color: #f7f7f7;
	border: 1px solid #EBEBEB;
}
.id_td_title{
	float:left;
	font-size:16px;
	line-height:40px;
	padding-left:10px;
}
.id_td_ul{
	float:right;
	line-height:40px;
	margin-right:10px;
}
.id_td_ul li{
	float:left;
	margin-left:10px;
}
.id_ul_tb_row{
	float:left;
	width:460px;
	line-height:40px;
	padding:10px 0;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}
.id_ul_tb_row li{
	float:left;
	line-height:20px;
}
.id_ul_tb_row:hover{
	background:#edf4f5;
}
.id_ul_tb_select{
	background:#fbfbfb;
}
.l_w_300{
	width:300px;
}
.l_w_250{
	width:250px;
}
.l_w_220{
	width:220px;
}
.l_w_200{
	width:200px;
}
.l_w_130{
	width:130px;
}
.l_w_100{
	width:100px;
}
.l_w_80{
	width:80px;
}
.t_i_8{
	text-indent:8px;
}
*/
.id_up_box{
	width:100%;
	height:200px;
	background:#f7f7f7;
	border: 1px solid #EBEBEB;
}
.id_up_left{
	float:left;
	width:660px;
	height:200px;
}
.id_u_l_up{
	margin-left:30px;
	padding-top:30px;
	width:610px;
	height:100px;
}
.id_up_left img{
	float:left;
	width:64px;
	height:64px;
	padding:2px;
    border: 2px solid #EBEBEB;
}
.id_up_left_title{
	width:250px;
	display:inline-block;
	font-size:16px;
	margin-left:20px;
	margin-top:30px;
	line-height:50px;
}
.font_20{
	font-size:20px;
}
.id_u_l_down{
	width:600px;
	height:50px;
	margin-left:30px;
}
.id_u_l_d_exp{
	width:160px;
	display:inline-block;
	margin-top:10px;
	padding-left: 34px;
	overflow:hidden;
}
.r_n{
	background:url(../images/dbicon.png) no-repeat 0 -17px;
}
.r_n_c{
	background:url(../images/dbicon.png) no-repeat 0 0;
}
.c_m{
	background:url(../images/dbicon.png) no-repeat 0 -89px;
}
.c_m_c{
	background:url(../images/dbicon.png) no-repeat 0 -71px;
}
.c_p{
	background:url(../images/dbicon.png) no-repeat 0 -35px;
}
.c_p_c{
	background:url(../images/dbicon.png) no-repeat 0 -53px;
}
.id_up_right{
	width:280px;
	height:200px;
	float:right;
}
.id_mi_title{
	font-size:20px;
	margin-top:30px;
	margin-left:30px;
}
.id_mi_balance{
	font-size:20px;
	margin-top:15px;
	margin-left:30px;
	color:#f37a01;
}
.id_mi_btn{
	margin-left:30px;
	margin-top:15px;
}
.id_middle_box{
	width:960px;
	height:150px;
	background:#f7f7f7;
	border: 1px solid #EBEBEB;
	margin-top:30px;
}
.id_m_show{
	width:268px;
	height:100px;
	margin:20px 14px 0 14px;
	float:left;
	padding:6px 8px;
}
.id_m_show:hover{
	background:#edf4f5;
}
.id_m_s_cont{
	width:100%;
	height:25px;
	font-size:14px;
	line-height:25px;
}
.id_m_s_btn{
	width:100%;
	height:50px;
	margin-left:200px;
}
.id_down_box{
	width:960px;
	margin-top:30px;
}
/*
.id_left_box{
	float:left;
	width:400px;
	height:370px;
	background-color: #f7f7f7;
    border: 1px solid #EBEBEB;
}
.id_left_box .id_l_up_box{
	width:400px;
	height:140px;
}
.id_left_box .id_l_down_box{
	width:400px;
	height:230px;
	margin-top:35px;
	margin-left:10px;
}
.id_up_left_up{
	margin:30px 0 0 40px;
}
.id_up_left_up img{
	float:left;
	width:64px;
	height:64px;
	padding:2px;
    border: 2px solid #EBEBEB;
}
.id_up_left_up .id_up_left_title{
	width:250px;
	float:left;
	margin-left:20px;
	margin-top:1px;
}
.id_up_left_down{
	float:left;
	width:400px;
	margin-top:20px;
}

.id_mi_title{
	font-size:20px;
	margin-top:30px;
	margin-left:30px;
}
.id_mi_balance{
	font-size:20px;
	margin-top:15px;
	margin-left:30px;
	color:#f37a01;
}
.id_mi_btn{
	margin-left:30px;
	margin-top:15px;
}
.index_box .id_up_box .id_up_right{
	float:right;
	width:280px;
	height:200px;
}
.id_right_box{
	float:right;
	width:530px;
}
.id_td_left{
	float:left;
	width:530px;
}
*/
.id_td_left{
	float:right;
	width:300px;
	height:248px;
}
.id_ul_list_row{
	width:100%;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}
.id_ul_list_row li{
	list-style-type:square;
	list-style-position:inside;
	width:370px;
	line-height:34px;
	padding-left:6px;
}
.id_td_right{
	float:left;
	width:630px;
}
.id_td_title_box{
	width:100%;
	height:40px;
	background-color: #f7f7f7;
	border: 1px solid #EBEBEB;
}
.id_td_title{
	float:left;
	font-size:16px;
	line-height:40px;
	padding-left:10px;
}
.id_td_ul{
	float:right;
	line-height:40px;
	margin-right:10px;
}
.id_td_ul li{
	float:left;
	margin-left:10px;
}
.id_ul_tb_row{
	float:left;
	width:100%;
	line-height:40px;
	padding:10px 0;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}
.id_ul_tb_row li{
	float:left;
	line-height:20px;
}
.id_ul_tb_row:hover{
	background:#edf4f5;
}
.id_ul_tb_select{
	background:#fbfbfb;
}
.l_w_300{
	width:300px;
}
.l_w_250{
	width:250px;
}
.l_w_220{
	width:220px;
}
.l_w_200{
	width:200px;
}
.l_w_130{
	width:130px;
}
.l_w_100{
	width:100px;
}
.l_w_80{
	width:80px;
}
.t_i_8{
	text-indent:8px;
}
 /*=====changedb_box=====*/
.changedb_box{
	width:960px;
	margin:30px auto 0;
	background:#f7f7f7;
	border: 4px solid #EBEBEB;
}
.changedb_left{
	float:left;
	width:450px;
	height:200px;
}
.changedb_right{
	float:right;
	width:500px;
	height:200px;
}
.chagedb_ul{
	width:950px;
	margin:50px 0 70px 0;
}
.chagedb_ul .rmd_msg{
	background: none repeat scroll 0 0 #FEFADA;
    border: 1px solid #FEE398;
    color: #F37A01;
    margin-bottom:20px;
	padding:0 6px;
	width:850px;
	margin-left:50px;
}
.chagedb_ul li{
	width:100%;
	font-size:13px;
	line-height:40px;
}
.chagedb_ul li .ch_ul_title{
	float:left;
	width:400px;
	text-align:right;
}
.changedb_payicon{
	display:table-cell;
}
.c_p_l{
	padding-left:20px;
}
.changedb_payicon label{
	width:62px;
	height:31px;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
.changedb_btn{
	font-size:20px;
	margin-left:400px;
}
.pay_remind{
	color:red;
	font-size:14px;
	padding-top:8px;
	margin-top:8px;
}
.pay_btn{
	margin-top:20px;
}
/*=====trade_box=====*/
.trade_box{
	flaot:left;
	width:960px;
	margin:30px auto;
	background-color: #f7f7f7;
	border: 1px solid #EBEBEB;
}
.trade_left{
	float:left;
	width:200px;
}
.trade_right{
	float:left;
	width:758px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CECECE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding-bottom:50px;
}
.td_ul_left{
	width:180px;
	margin-top:20px;
	margin-left:20px;
}
.td_left_title{
	font-size:16px;
	font-weight:bold;
	margin-left:50px;
	margin-top:30px;
}
.td_ul_left li{
	float:left;
	width:185px;
	text-indent:25px;
	border-radius: 3px 0 0 3px;
    color: #666666 !important;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 10px 0 11px;
}
.td_ul_left li b{
	display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
	height: 27px;
}
.td_ul_left .td_ul_select{
	background: none repeat scroll 0 0 #FFFFFF !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333333 !important;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.td_ul_left li:hover{
	background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 2px 2px 2px 2px;
    color: #333333 !important;
    cursor:pointer;
    text-shadow: none;
}
.trade_content{
	width:100%;
	z-index: 3;
	position: relative;
	background:#fff;
	min-height:300px;
}
.td_left_c{
	background:url(../images/tradeIcon.png) no-repeat 0 0;
}
.trade_cont_title{
	font-size: 18px;
	margin:30px;
	height:40px;
	line-height:40px;
	border-bottom: 2px solid #888888;
}
.trade_cont_search{
	margin-left:30px;
}
.trade_cont_header_ul{
	width:700px;
	margin:0 30px;
	height:40px;
	line-height:40px;	
	background-color: #f7f7f7;
	border: 1px solid #EBEBEB;
}
.trade_cont_header_ul li{
	float:left;
}
.trade_cont_ul{
	float:left;
	width:700px;
	margin:0 30px;
	line-height:30px;
	border-bottom: 1px solid #EBEBEB;
	padding:6px 0;
}
.trade_cont_ul:hover{
	background:#edf4f5;
}
.trade_cont_ul li{
	float:left;
	line-height:20px;
	
}
/*=====account=====*/
.account_cont_box{
	width:696px;
	margin:10px 30px;
	line-height:40px;	
}
.account_cont_box .account_cont_row{
	width:100%;
}
.account_cont_box .md_btn{
	width:680px;
	text-align:right;
	padding-right:40px;
}
.account_cont_box .rmd_msg{
	background: none repeat scroll 0 0 #FEFADA;
    border: 1px solid #FEE398;
    color: #F37A01;
    margin-bottom:20px;
	padding:0 6px;
	height:30px;
	width:680px;
	line-height:30px;
}
.account_cont_box .account_cont_row .account_c_r_title{
	width:120px;
	display:table-cell;
	text-align:right;
}
.account_cont_box .account_cont_row .account_c_r_cont{
	width:550px;
	padding-left:20px;
	display:table-cell;
}
.accountdb_btn{
	width:100%;
	font-size:14px;
	margin-top:0px;
	margin-left:140px;
}