{include file='header.html'}

<script type="text/javascript" src="{$__PUBLIC__}/js/DB.change.js"></script>

<div class="changedb_box">
	<ul class="chagedb_ul">
		<li style="display:none;">
			<div class="ch_ul_title">{$Lang.YourAccountBalance}：</div>
			<span class="c_y" id="change_money">{$account.money}</span>{$Lang.AccountBalanceUnion}
		</li>
		<li>
			<div class="ch_ul_title">{$Lang.YourIntegralBalance}：</div>
			<span class="c_y" id="change_db">{$account.db}</span>{$Lang.IntegralBalanceUnion}
		</li>
		<li>
			<div class="ch_ul_title">{$Lang.PayType}：</div>
			<div class="ch_ul_pay">
				<div class="changedb_payicon">
					<input type="radio" name="paytype" id="alipay_icon" value="alipay" checked />
					<label for="alipay_icon" class="alipay_icon b_r">&nbsp;</label>
				</div>
				<div class="changedb_payicon c_p_l">
					<input type="radio" name="paytype" id="paypal_icon" value="paypal" />
					<label for="paypal_icon" class="paypal_icon">&nbsp;</label>
				</div>
			</div>
		</li>
		<li>
			<div class="ch_ul_title">{$Lang.ChangeMoneyNum}：</div>
			<input type="text" class="input" name="coin" size="8" value="{$account.coin_num}" {if $account.coin_num}readonly{/if} />{$Lang.AccountBalanceUnion}
		</li>
		<li>
			<div class="ch_ul_title">{$Lang.ChangeDBNumber}：</div>
			<input type="text" class="input" name="db" size="8" value="{$account.db_num}" {if $account.db_num}readonly{/if} />{$Lang.IntegralBalanceUnion}
		</li>
		<li class="pay_btn">
			<div class="changedb_btn"><a id="sub_btn" class="btn" href="javascript:void(0);">{$Lang.Buy}</a></div>
		</li>
	</ul>
</div>

<script type="text/javascript">
<!--
var change = new Tchange();
change.JS_LANG = {$JS_LANG};
change.jsonData = {$jsonData};
//页面完全再入后初始化
$(document).ready(function(){
	change.init();
});
//释放
$(window).unload(function(){
	change = null;
});
//-->
</script>

{include file='footer.html'}