
<link rel="stylesheet" href="{$__PUBLIC__}/js/jquery.library/themes/base/jquery.ui.all.css" />
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-blind.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-bounce.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-clip.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-drop.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-fold.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.effect-slide.js"></script>
<script type="text/javascript" src="{$__PUBLIC__}/js/jquery.library/ui/jquery.ui.datepicker.js"></script>